.index { 
  display: flex;
  justify-content: center;
}
.fotka2{ 
  display: flex;
  widows: 100%;
  min-width: 300px;
  flex-shrink: 1;
  height:400px;

  }
div{ 
  font-size: 50px;
  color: grey;
  position: absolute;
  top:50px;
  left: 620px;
  font-family: 'Raleway', sans-serif;
}
#welcome{ 
  position: absolute;
  font-size: 50px;
  border-radius: 50px;
  top: 150px;
  left: 700px;
  font-size: 50px;
  color: grey;
  border: 1px solid grey;
  padding: 10px 20px;
  font-family: 'Raleway', sans-serif;
  text-decoration: none;
} 
.vitaj:hover{ 
  background-color: black;

} 
.top{
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0px 350px 0px 200px;
  
}
h1{ 
  font-size: 50px;
  color: grey;
  font-family: 'Raleway', sans-serif;
  position: absolute;
  top:70px;
  left: 50px;
}
.container{ 
  position: absolute;
  top:200px;
  left:0px;
  background-color: black;
  position: fixed;
} 
.header{ 
  text-decoration: none;
  color: white;
  font-size: 20px;
  display: flex;
  padding: 10px;
  
} 
h2{
  font-size: 50px;
  color: grey;
}
p{ 
  width:100%;
  display: block;
  align-items: center;
  font-family: 'Piazzolla', serif;
  line-height: 30px;
  font-size: 20px;
  min-width: 500px;
}
.backToMain{
 text-decoration: none;
 font-size: 25px;
 color: black;
 padding: 10px;
 font-family: 'Anton', sans-serif;
 word-spacing: 15px;
 
}
.bodyKontakt{
  max-width: 500px;
  display: flex;

}
.kontakt{
  background: yellow;
  width:100%;
  height:100%;
  position: absolute;
  top: 0;
  left:0;
  z-index: -1;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
.fbig{
  display: inline;
  height:30px;
  width:30px;
  word-spacing: 25px;
  border-radius: 50px;
  max-width: 100px;



}
.text{
  font-size: 40px;
  color: black;
  font-size: bold;
  font-family: 'Anton', sans-serif;
  max-width: 1000px;
  line-height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
}
