img{ 
  width:100%;
  }
.cv{ 
  display: block;
  position: absolute;
  top: 250px;
  left: 310px;
  width:630px;
}

.title{ 
  font-family: 'Abril Fatface', cursive;
  line-height:60px;
}
#name{ 
  font-size: 40px;
  margin:0px;
  padding: 0px;
}
#Anakin{
  font-size: 73px;
  margin:0px 0px 80px 0px;
  padding: 0px;
 }

.paragrapf{ 
  font-family:'Josefin Sans', sans-serif;
  line-height:25px;
}
.quote{   
  display: flex;
  width:100%;
  padding:0;
  margin:0;
  background-color: #494d4b;
  color: white;
  font-family: 'Abril Fatface', cursive;
  font-size:40px;
  text-align: left;
  
}
q::before{ 
  content: '“';
  
}
#together{ 
  padding:30px 0px;
  margin: 0 0 0 0px;
  line-height:50px;
  }
#q{
  font-size:90px;
  margin:0px;
  padding:0px;
  line-height:70px;
}
.subtitles{ 
  font-size:21px;
  font-family: 'Josefin Sans', sans-serif;
  margin: 50px 0px 50px 30px;
  line-height:25px;
}
#design{
  font-size:17px;
  
}
#subtext{
  font-size:15px;
  color: #494d4b;
}
.last{ 
  font-family: 'Merriweather', serif;
  font-style: italic;
  margin: 0px 0px 20px 30px;
  
}
#sith{ 
  margin: 50px 0px 0px 30px;
}
.list{ 
  margin:0px 0px 30px 30px;
  line-height:25px;
  color:#494d4b;
}
#line{ 
  background-color:black;
  width:100%;
  height: 3px;
}