.index { 
  display: flex;
  width: auto;
  justify-content: flex-end;
  margin-right: 100px;
  align-self: center;
  background-image: url(https://cdn.pixabay.com/photo/2014/11/17/13/17/crossfit-534615_960_720.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
  /* #ifantastic{ 
 /* position: absolute;
  top:10px;
  left: 300px;
  font-size: 50px;
  font-family: 'Lobster', cursive;
}
#getFit{ 
  position: absolute;
  top:100px;
  left: 300px;
  font-weight: bold;
  font-family: 'Piazzolla', serif;
} */
.hlavny{
  display:flex;
 
  width:100%;
  flex-direction: column;
  justify-content: center;
  flex-shrink: 1;
  background-color: white;
  max-width: 800px;
  padding: 30px;
  min-width: 500px;
  flex-shrink: 1;
  margin: 0px 100px;
}
.fotka2{ 
  display: flex;
  widows: 100%;
  min-width: 500px;
  flex-shrink: 1;
  height:400px;

 }
.vitajPodDalej{ 
  display: flex;
  justify-content: flex-end;
  font-size: 50px;
  color: grey;
   font-family: 'Raleway', sans-serif;
  flex-wrap: wrap;
  flex-direction: column;
  margin-left: 300px;
}
#welcome{ 
  color: grey;
  border-radius: 50px;
  border: 1px solid grey;
  padding: 10px 20px;
  text-decoration: none;
  transition: all 0.5s;
  text-align: center;
  max-width: 150px;
  margin-right: 0px;
} 
#welcome:hover{ 
  background-color: black;
  transform: scale(1.1);
} 
.top{
  display: flex;
  justify-content: center;
  margin: 0px;
  flex-shrink: 1;
  background-image: url("../ifan23.github.io/pictures/triangular.png");
}
h1{ 
  font-size: 50px;
  color: grey;
  font-family: 'Raleway', sans-serif;
  position: absolute;
  top:70px;
  left: 50px;
}
.container{ 
  position: absolute;
  top:50px;
  left:0px;
  background-color: black;
  position: fixed;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;  
  padding:5px;
} 
.header:hover{ 
 transform: scale(1.4);
}
.header{ 
  text-decoration: none;
  color: white;
  font-size: 20px;
  display: flex;
  padding: 10px;
  transition: all 0.5s;
} 

.uvod{ 
  width:100%;
  display: block;
  align-items: center;
  font-family: 'Piazzolla', serif;
  line-height: 30px;
  font-size: 20px;
  min-width: 500px;
}
.backToMain{
 text-decoration: none;
 font-size: 15px;
 color: black;
 padding: 10px;
 border: black 2px solid;
 border-radius: 10%;
 width: 160px;
 display: flex;
 transition: all 0.5s;
 }

.backToMain:hover{
  background-color: white;
  transform: scale(1.1);
}
.kontakt{
  background-image: url("../ifan23.github.io/pictures/triangular.png");
  width:100%;
  height:100%;
  position: absolute;
  top: 0;
  left:0;
  z-index: -1;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
.fbig{
  display: inline;
  height:30px;
  width:30px;
  border-radius: 50px;
  max-width: 100px;
  align-items: flex-start;
}
.text{
  font-size: 40px;
  color: black;
  font-size: bold;
  font-family: 'Anton', sans-serif;
  max-width: 1000px;
  
  display: flex;
  align-items: center;
  justify-content: center;
  
}
.backTo{
  text-decoration: none;
 font-size: 25px;
 color: black;
 padding: 10px;
 font-family: 'Anton', sans-serif;
 word-spacing: 15px;
}
#subject{
  border: solid grey 2px;    
  width:300px;
  border-radius: 10px;
}
label{
  font-size: 20px;
  color: black;
   line-height: 50px;
  font-family: 'Anton', sans-serif;
  
}
#odoslat{
  margin: 10px;
  border-radius: 10px;
  padding: 5px;
}
.ifan{
z-index: 2;
display: flex;

float: left;
}